<rz-content #content1 container="main">
  <rz-datalist #datalistDevice [allowPaging]="false" [count]="rstDeviceCount" [data]="rstDevice" defaultRowText="Template for index" emptyText="Geräteliste wird geladen..." [pageSize]="14" [style]="{'border': '1px solid #ffffff'}" [wrapItems]="false" (loadData)="datalistDeviceLoadData($event)">
    <ng-template let-data datalistTemplate>
      <rz-card #card0 [style]="{'paddingBottom': '10px', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '10px'}" (click)="onClickNavigateBack(data)">
        <div class="row">
          <div class="col-10" [ngStyle]="{'paddingLeft': '15px', 'paddingRight': '0px', 'verticalAlign': 'baseline'}">
            <rz-heading #heading0 size="H5" [style]="{'color': '#6264A7', 'fontWeight': 'normal', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0', 'textAlign': 'left', 'verticalAlign': 'baseline'}" [text]="data?.DeviceNummer">
            </rz-heading>
            <rz-label #label3 [style]="{'color': '#3a474d', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'lineHeight': '20px', 'width': '100%'}" [text]="data?.DeviceTitel">
            </rz-label>
            <rz-label #label0 [style]="{'color': '#3a474d', 'fontSize': '16px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'lineHeight': '18px', 'width': '100%'}" [text]="data?.RegistriertAm">
            </rz-label>
          </div>
          <div class="align-items-center d-flex justify-content-end col-2" [ngStyle]="{'paddingRight': '5px', 'textAlign': 'right'}">
            <rz-icon #icon4 icon="keyboard_arrow_right" [style]="{'color': '#a71330', 'fontSize': '32px', 'fontWeight': 'normal'}">
            </rz-icon>
          </div>
        </div>
      </rz-card>
    </ng-template>
  </rz-datalist>
</rz-content>
