<rz-header #header0>
  <div class="row justify-content-start align-items-center">
    <div class="col-md-6 d-flex align-items-center" [ngStyle]="{'paddingLeft': '30px'}">
      <rz-label #label0 text="Optimo Inventur">
      </rz-label>
      <rz-menu #menu0 [style]="{'height': '50px'}" style="flex: auto">
        <rz-menu-item text="Dashboard" path="dashboard">
        </rz-menu-item>
        <rz-menu-item text="Erfassen" path="erfassen">
        </rz-menu-item>
        <rz-menu-item text="Copy of Dashboard" path="copy-of-dashboard">
        </rz-menu-item>
        <rz-menu-item text="Copy of Erfassen" path="copy-of-erfassen">
        </rz-menu-item>
        <rz-menu-item text="InventurErfassung" path="inventur-erfassung">
        </rz-menu-item>
      </rz-menu>
    </div>
    <div class="col-md-6 text-lg-right">
    </div>
  </div>
</rz-header>
<rz-body #body0 [style]="{}">
  <rz-content-container #main name="main">
  </rz-content-container>
</rz-body>
<rz-footer #footer0>
  <rz-label #footerText text="Optimo Inventur, Copyright &copy; 2021">
  </rz-label>
</rz-footer>
<router-outlet></router-outlet>
