<rz-header #header0 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '2px solid #a71330', 'height': '150px', 'marginLeft': '0px'}">
  <div class="row justify-content-start align-items-center" [ngStyle]="{'height': '56px'}">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'marginLeft': '', 'marginRight': '', 'marginTop': '', 'paddingLeft': '', 'paddingRight': ''}">
      <rz-image #image0 path="assets/images/Logo01.png" [style]="{'float': 'left', 'height': '35px', 'paddingLeft': '13px'}" (click)="image0Click($event)">
      </rz-image>
    </div>
    <div class="text-lg-right           justify-content-end d-flex      col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'display': 'inline-block', 'float': 'right', 'marginTop': '-4px', 'textAlign': 'right'}">
      <rz-label #label5 [style]="{'color': '#595858', 'display': 'block', 'float': 'none', 'fontSize': '22px', 'fontStyle': 'normal', 'fontWeight': 'bold', 'marginRight': '15px'}" text="Inventur">
      </rz-label>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <rz-label #label0 [style]="{'color': '#595858', 'display': 'block', 'float': 'none', 'fontSize': '10px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'marginRight': '15px', 'marginTop': '-25px', 'textAlign': 'right'}" text="2. November 2021">
      </rz-label>
    </div>
  </div>
  <div class="row justify-content-start align-items-center" [ngStyle]="{'height': '56px', 'marginTop': '-3px'}">
    <div class="col-md-6 col-6 col-sm-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card2 [style]="{'backgroundColor': '#bcbbbb', 'borderRadius': '', 'display': 'block', 'marginLeft': '15px', 'paddingBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '3px'}">
        <div class="row align-items-center" [ngStyle]="{}">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{'display': 'inline-block'}">
            <rz-heading #heading4 size="H3" [style]="{'color': '#ffffff', 'display': 'inline', 'fontWeight': 'bold'}" text="Lagerorte">
            </rz-heading>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-11 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{'marginBottom': '7px', 'marginTop': '-5px'}">
            <rz-heading #heading5 size="H4" [style]="{'color': '#ffffff', 'display': 'inline', 'fontWeight': 'normal'}" text="12 fertig">
            </rz-heading>
          </div>
        </div>
        <rz-progressbar #progressbar2 [showValue]="false" [style]="{'height': '8px'}" unit="xx" value="30">
        </rz-progressbar>
      </rz-card>
    </div>
    <div class="col-md-6 col-6 col-sm-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card1 [style]="{'backgroundColor': '#bcbbbb', 'borderRadius': '', 'display': 'block', 'marginRight': '15px', 'paddingBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '3px'}">
        <div class="row align-items-center" [ngStyle]="{}">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{'display': 'inline-block'}">
            <rz-heading #heading2 size="H3" [style]="{'color': '#ffffff', 'display': 'inline', 'fontWeight': 'bold'}" text="Artikel">
            </rz-heading>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-11 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{'marginBottom': '7px', 'marginTop': '-5px'}">
            <rz-heading #heading3 size="H4" [style]="{'color': '#ffffff', 'display': 'inline', 'fontWeight': 'normal'}" text="50000 fertig">
            </rz-heading>
          </div>
        </div>
        <rz-progressbar #progressbar1 [showValue]="false" [style]="{'height': '8px'}" unit="xx" value="30">
        </rz-progressbar>
      </rz-card>
    </div>
  </div>
</rz-header>
<rz-body #body0 [style]="{'backgroundColor': '#E9E9E9'}">
  <rz-content-container #main [style]="{'width': '1823px'}" name="main">
  </rz-content-container>
</rz-body>
<router-outlet></router-outlet>
