<rz-content #content1 container="main">
  <rz-card #card0 [style]="{'backgroundColor': '#ffffff', 'borderRadius': '', 'display': 'block', 'height': '175px', 'marginBottom': '10px', 'paddingLeft': '15px'}">
    <div [ngStyle]="{}" class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{}">
        <rz-heading #heading0 size="H5" [style]="{'display': 'inline'}" text="1111">
        </rz-heading>
        <rz-progressbar #progressbar0 mode="determinate" [showValue]="false" [style]="{'height': '8px', 'marginBottom': '10px', 'marginTop': '10px'}" value="75">
        </rz-progressbar>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '23px'}">
        <rz-heading #heading19 size="H5" [style]="{'display': 'inline'}" text="22222">
        </rz-heading>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <rz-heading #heading20 size="H5" [style]="{'display': 'inline'}" text="Aktivitäten">
        </rz-heading>
        <rz-heading #heading21 size="H4" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5dbf74', 'display': 'block', 'float': 'right', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'right'}" text="139">
        </rz-heading>
        <rz-sparkline #sparkline0 color="#5dbf74" [data]="customers" [style]="{'display': 'inline-block', 'marginTop': '10px', 'width': '100%'}">
        </rz-sparkline>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '23px'}">
        <rz-heading #heading24 size="H5" [style]="{'display': 'inline', 'marginLeft': '0px', 'marginTop': '10px'}" text="Info Test">
        </rz-heading>
        <rz-image #image0 path="assets/images/KeinBildPerson.png" [style]="{'borderRadius': '50%', 'float': 'right', 'height': '54px', 'textAlign': 'left', 'verticalAlign': 'top', 'width': '54px'}">
        </rz-image>
      </div>
    </div>
  </rz-card>
  <rz-textbox #textbox0 [style]="{'fontSize': '30px', 'height': '70px', 'width': '100%'}" name="textbox0" (focusin)="onFocusInHideKeyboard()" id="Textfeld01">
  </rz-textbox>
  <rz-textbox #textbox3 [readOnly]="true" [style]="{'fontSize': '30px', 'height': '70px', 'width': '100%'}" name="textbox3" (keydown)="onKeyPressSetInput($event)">
  </rz-textbox>
  <rz-textbox #feld123 [readOnly]="true" [style]="{'width': '100%'}" name="Feld123" id="NaechstesFeld">
  </rz-textbox>
  <rz-textbox #textbox2 [disabled]="true" [readOnly]="false" [style]="{'width': '100%'}" name="textbox2">
  </rz-textbox>
  <rz-button #button2 text="Test" (click)="button2Click($event)">
  </rz-button>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{}">
      <rz-card #card2 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '70px', 'paddingTop': '0'}" (click)="onClickStartBenutzer()">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-icon #icon1 icon="person" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label0 [style]="{'color': '#5d717b', 'fontSize': '24px', 'fontWeight': 'bold'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
        <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-label #label1 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label2 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{}">
      <rz-card #card9 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '70px', 'paddingTop': '0'}" (click)="onClickStartBenutzer()">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-icon #icon7 icon="person" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label9 [style]="{'color': '#5d717b', 'fontSize': '24px', 'fontWeight': 'bold'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
        <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-label #label10 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label11 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{}">
      <rz-card #card7 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '70px', 'paddingTop': '0'}" (click)="onClickStartBenutzer()">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-icon #icon6 icon="person" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label6 [style]="{'color': '#5d717b', 'fontSize': '24px', 'fontWeight': 'bold'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
        <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-label #label7 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label8 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [ngStyle]="{}">
      <rz-card #card4 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '70px', 'paddingTop': '0'}" (click)="onClickStartBenutzer()">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-icon #icon4 icon="person" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label3 [style]="{'color': '#5d717b', 'fontSize': '24px', 'fontWeight': 'bold'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
        <div [ngStyle]="{'marginTop': '-7px', 'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start d-flex align-items-center">
            <rz-label #label4 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 justify-content-end d-flex align-items-center">
            <rz-label #label5 [style]="{'color': '#5d717b', 'fontWeight': 'normal'}" text="Benutzer">
            </rz-label>
          </div>
        </div>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px', 'paddingLeft': ''}" class="row">
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card1 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon0 icon="person" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button0 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Benutzer" (click)="button0Click($event)">
        </rz-button>
        <rz-heading #heading1 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Gerhard Sommersguter">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-lg-6    col-6 col-sm-6 col-md-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card6 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon2 icon="assignment" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button1 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Erfassen" (click)="button1Click($event)">
        </rz-button>
        <rz-heading #heading2 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Neu 3 | Offen 2">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <div [ngStyle]="{'paddingBottom': '10px'}" class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card3 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon3 icon="settings" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button3 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Einstellungen" (click)="button3Click($event)">
        </rz-button>
        <rz-heading #heading5 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Einträge 7">
        </rz-heading>
      </rz-card>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card5 [style]="{'backgroundColor': '#ffffff', 'borderBottom': '3px solid #a71330', 'display': 'block', 'height': '120px', 'paddingLeft': '15px', 'paddingRight': '20px'}">
        <div [ngStyle]="{'paddingBottom': '0px', 'paddingTop': '0px'}" class="row">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <rz-icon #icon5 icon="assignment_turned_in" [style]="{'color': '#A71330', 'fontSize': '36px'}">
            </rz-icon>
          </div>
        </div>
        <rz-button #button5 size="sm" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#5d717b', 'fontSize': '18px', 'fontWeight': '600', 'paddingLeft': '3px', 'position': 'static', 'textAlign': 'left', 'width': '100%'}" text="Übersicht" (click)="button5Click($event)">
        </rz-button>
        <rz-heading #heading7 size="H4" [style]="{'color': '#5d717b', 'display': 'block', 'fontSize': '12px', 'fontWeight': 'normal', 'paddingLeft': '3px', 'textAlign': 'left'}" text="Dein Profil">
        </rz-heading>
      </rz-card>
    </div>
  </div>
  <rz-card #card8 [style]="{'backgroundColor': '#FFFFFF', 'display': 'block', 'height': '65px', 'paddingTop': '11px'}">
    <rz-heading #heading8 size="H6" [style]="{'color': '#5d717b', 'fontWeight': 'normal', 'marginBottom': '0px', 'textAlign': 'center'}" text="© 2021 Optimo Schlafsysteme GmbH">
    </rz-heading>
    <rz-link #link0 path="versionen" [style]="{'float': 'right', 'marginTop': '-2px', 'textAlign': 'center', 'width': '100%'}" text="Version 1.01.027">
    </rz-link>
  </rz-card>
</rz-content>
