<rz-header #header0 [style]="{'backgroundColor': '#e9e9e9', 'borderBottom': '1px dotted #a71330', 'height': '117px', 'marginLeft': '0px'}">
  <div class="row justify-content-start align-items-center" [ngStyle]="{}">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'marginLeft': '', 'marginRight': '', 'marginTop': '', 'paddingLeft': '', 'paddingRight': ''}">
      <rz-image #image0 path="assets/images/Logo01.png" [style]="{'float': 'left', 'height': '35px', 'marginLeft': '13px', 'marginTop': '11px'}" (click)="image0Click($event)">
      </rz-image>
    </div>
    <div class="text-lg-right           justify-content-end d-flex      col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'display': 'inline-block', 'float': 'right', 'marginTop': '-4px', 'textAlign': 'right'}">
      <rz-label #label5 [style]="{'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontFamily': 'arial,helvetica,sans-serif', 'fontSize': '16px', 'fontStyle': 'italic', 'fontWeight': 'bold', 'marginRight': '15px', 'marginTop': '12px'}" text="Inventur">
      </rz-label>
    </div>
  </div>
  <div [ngStyle]="{'marginTop': '7px', 'paddingLeft': '10px', 'paddingRight': '10px'}" class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingRight': '5px'}">
      <rz-card #card4 [style]="{'backgroundColor': '#d2d2d2', 'borderRadius': '', 'display': 'block', 'paddingBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '5px'}">
        <div class="row align-items-center">
          <div class="col-6" [ngStyle]="{}">
            <rz-heading #heading3 size="H5" [style]="{'color': '#3a474d', 'display': 'inline', 'fontWeight': 'normal'}" text="Lagerorte">
            </rz-heading>
          </div>
          <div class="col-6">
            <rz-heading #heading4 size="H3" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '20px', 'fontWeight': 'bold', 'marginBottom': '0px', 'textAlign': 'right'}" text="25">
            </rz-heading>
          </div>
        </div>
        <rz-progressbar #progressbar1 [showValue]="false" [style]="{'height': '8px'}" [value]="75">
        </rz-progressbar>
      </rz-card>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [ngStyle]="{'paddingLeft': '5px'}">
      <rz-card #card7 [style]="{'backgroundColor': '#d2d2d2', 'borderRadius': '', 'display': 'block', 'paddingBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '5px'}">
        <div class="row align-items-center">
          <div class="col-4" [ngStyle]="{}">
            <rz-heading #heading10 size="H5" [style]="{'color': '#3a474d', 'display': 'inline', 'fontWeight': 'normal'}" text="Artikel">
            </rz-heading>
          </div>
          <div class="col-8">
            <rz-heading #heading11 size="H3" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#3a474d', 'display': 'block', 'float': 'none', 'fontSize': '20px', 'fontWeight': 'bold', 'marginBottom': '0px', 'textAlign': 'right'}" text="54.000">
            </rz-heading>
          </div>
        </div>
        <rz-progressbar #progressbar2 [showValue]="false" [style]="{'height': '8px'}" [value]="25">
        </rz-progressbar>
      </rz-card>
    </div>
  </div>
</rz-header>
<rz-body #body0 [style]="{'backgroundColor': '#e9e9e9', 'paddingBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '10px'}">
  <rz-content-container #main [style]="{'width': '1823px'}" name="main">
  </rz-content-container>
</rz-body>
<router-outlet></router-outlet>
