<rz-content #content1 container="main">
  <div [ngStyle]="{'backgroundColor': '#a71330', 'height': '90px', 'marginLeft': '0', 'marginRight': '0', 'position': 'fixed', 'top': '55px', 'width': '100%', 'zIndex': '3000'}" class="row">
    <div class="col-2 align-items-center d-flex justify-content-start" [ngStyle]="{'fontSize': '16px', 'lineHeight': '16px', 'textAlign': 'right'}">
      <rz-heading #heading1 size="H5" [style]="{'color': '#ffffff', 'fontSize': '38px', 'fontWeight': 'normal', 'lineHeight': '40px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0', 'textAlign': 'left', 'verticalAlign': 'baseline'}" [text]="dsoLagerort?.LagerortNummer">
      </rz-heading>
    </div>
    <div class="justify-content-start d-flex align-items-center col-10" [ngStyle]="{'paddingLeft': '20px', 'verticalAlign': 'baseline'}">
      <rz-heading #heading2 size="H5" [style]="{'color': '#ffffff', 'fontSize': '26px', 'fontWeight': 'normal', 'lineHeight': '28px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0'}" [text]="dsoLagerort?.LagerortTitel">
      </rz-heading>
    </div>
  </div>
  <div class="row" [ngStyle]="{'marginTop': '95px'}">
    <div class="col-12" [ngStyle]="{'fontSize': '16px', 'lineHeight': '16px', 'paddingLeft': '0', 'paddingRight': '0', 'textAlign': 'right'}">
      <rz-selectbar #selectbarErfassenModus [style]="{'float': 'left'}" [(ngModel)]="strErfassungModus" name="selectbarErfassenModus" (change)="selectbarErfassenModusChange($event)">
        <rz-selectbar-option text="Mengeneingabe" value="Mengen">
        </rz-selectbar-option>
        <rz-selectbar-option text="Einzelstücke" value="Einzeln">
        </rz-selectbar-option>
      </rz-selectbar>
      <div [ngStyle]="{'borderBottom': '2px solid #dfe7ec', 'height': '30px', 'marginRight': '15px', 'marginTop': '5px'}" class="row">
      </div>
    </div>
  </div>
  <div class="row" [ngStyle]="{'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '15px'}">
    <div class="col-10" [ngStyle]="{'fontSize': '16px', 'lineHeight': '16px', 'paddingLeft': '10px', 'paddingRight': '10px', 'textAlign': 'right'}">
      <rz-textbox #textboxArtikelnummer placeholder="Artikelnummer" [readOnly]="true" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#3a474d', 'fontSize': '32px', 'fontWeight': 'normal', 'height': '40px', 'lineHeight': '32px', 'width': '100%'}" name="textboxArtikelnummer">
      </rz-textbox>
    </div>
    <div class="col-2" [ngStyle]="{'paddingLeft': '0', 'paddingRight': '10px', 'textAlign': 'right', 'verticalAlign': 'bottom'}">
      <rz-button #buttonArtikelAuswahl buttonStyle="light" icon="search" [style]="{'backgroundColor': '#e9e9e9', 'border': '1px solid #dadfe2', 'color': '#a71330', 'fontSize': '28px', 'fontWeight': 'normal', 'height': '40px', 'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0', 'width': '100%'}" (click)="buttonArtikelAuswahlClick($event)">
      </rz-button>
    </div>
  </div>
  <div [ngStyle]="{'backgroundColor': '#e9e9e9', 'marginLeft': '10px', 'marginRight': '10px', 'marginTop': '10px', 'paddingBottom': '10px', 'paddingLeft': '10px', 'paddingRight': '0', 'paddingTop': '10px'}" class="row">
    <div class="col-10" [ngStyle]="{'fontSize': '16px', 'lineHeight': '16px', 'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0', 'textAlign': 'right'}">
      <rz-label #label4 [style]="{'color': '#002171', 'fontSize': '18px', 'fontWeight': 'normal', 'lineHeight': '20px', 'textAlign': 'left', 'width': '100%'}" text="Aventura Premium EL 4 Funk/MemoSM über 100/200_zzz">
      </rz-label>
      <rz-label #label6 [style]="{'color': '#3a474d', 'fontSize': '14px', 'fontWeight': 'normal', 'lineHeight': '16px', 'textAlign': 'left', 'width': '100%'}" text="Innenmaß 450x450x1460">
      </rz-label>
      <rz-label #label9 [style]="{'color': '#3a474d', 'fontSize': '14px', 'fontWeight': 'normal', 'lineHeight': '16px', 'textAlign': 'left', 'width': '100%'}" text="Schweitzer Sperrholzwerk GmbH">
      </rz-label>
    </div>
    <div class="col-2" [ngStyle]="{'paddingLeft': '0', 'paddingRight': '0', 'textAlign': 'right', 'verticalAlign': 'bottom'}">
      <rz-button #button0 buttonStyle="light" icon="clear" [style]="{'backgroundColor': '#e9e9e9', 'color': '#a71330', 'fontSize': '28px', 'fontWeight': 'normal', 'height': '100%', 'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0', 'width': '100%'}" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <rz-card #card1 [style]="{'paddingBottom': '9px', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0'}" *ngIf="strErfassungModus == 'Mengen'">
    <div [ngStyle]="{'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '10px'}" class="row">
      <div class="col-6" [ngStyle]="{'fontSize': '16px', 'lineHeight': '16px', 'paddingLeft': '10px', 'paddingRight': '10px', 'textAlign': 'left'}">
        <rz-textbox #textbox2 placeholder="Menge" [readOnly]="false" [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'color': '#3a474d', 'fontSize': '40px', 'fontWeight': 'normal', 'height': '50px', 'lineHeight': '40px', 'textAlign': 'left', 'width': '100%'}" name="textbox2">
        </rz-textbox>
      </div>
      <div class="col-6" [ngStyle]="{'paddingLeft': '0', 'paddingRight': '10px', 'textAlign': 'right', 'verticalAlign': 'bottom'}">
        <rz-button #button2 buttonStyle="light" icon="done" [style]="{'backgroundColor': '#e9e9e9', 'border': '1px solid #dadfe2', 'color': '#a71330', 'fontSize': '18px', 'fontWeight': 'normal', 'height': '50px', 'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0', 'width': '100%'}" text="Erfassen" (click)="button2Click($event)">
        </rz-button>
      </div>
    </div>
  </rz-card>
  <div [ngStyle]="{'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '10px'}" class="row">
    <div class="col-6" [ngStyle]="{'fontSize': '16px', 'lineHeight': '16px', 'paddingLeft': '10px', 'paddingRight': '10px', 'textAlign': 'left'}">
      <rz-button #button3 buttonStyle="light" icon="done" [style]="{'backgroundColor': '#e9e9e9', 'border': '1px solid #dadfe2', 'color': '#a71330', 'fontSize': '18px', 'fontWeight': 'normal', 'height': '50px', 'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0', 'width': '100%'}" text="Erfassen" (click)="button3Click($event)">
      </rz-button>
    </div>
    <div class="col-6" [ngStyle]="{'paddingLeft': '0', 'paddingRight': '10px', 'textAlign': 'right', 'verticalAlign': 'bottom'}">
      <rz-button #button1 buttonStyle="light" icon="done" [style]="{'backgroundColor': '#e9e9e9', 'border': '1px solid #dadfe2', 'color': '#a71330', 'fontSize': '18px', 'fontWeight': 'normal', 'height': '50px', 'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0', 'width': '100%'}" text="Erfassen" (click)="button1Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row align-items-center" [ngStyle]="{'height': '50px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0', 'paddingBottom': '0', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '0'}">
    <div class="col-12" [ngStyle]="{'backgroundColor': '#8ea3b5', 'verticalAlign': 'baseline'}">
      <rz-label #label12 [style]="{'color': '#ffffff', 'fontSize': '26px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'textAlign': 'center', 'width': '100%'}" text="2.938 erfasst">
      </rz-label>
    </div>
  </div>
  <div class="row align-items-center" [ngStyle]="{'height': '50px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0', 'paddingBottom': '0', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '0'}">
    <div class="col-12" [ngStyle]="{'backgroundColor': '#8ea3b5', 'verticalAlign': 'baseline'}">
      <rz-label #label1 [style]="{'color': '#ffffff', 'fontSize': '26px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'textAlign': 'center', 'width': '100%'}" text="Artikel Inventurliste">
      </rz-label>
    </div>
  </div>
  <div class="row align-items-center" [ngStyle]="{'height': '50px', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '100px', 'paddingBottom': '0', 'paddingLeft': '10px', 'paddingRight': '10px', 'paddingTop': '0'}">
    <div class="col-12" [ngStyle]="{'backgroundColor': '#8ea3b5', 'verticalAlign': 'baseline'}">
      <rz-label #label3 [style]="{'color': '#ffffff', 'fontSize': '26px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'textAlign': 'center', 'width': '100%'}" text="Erfassungsprotokoll">
      </rz-label>
    </div>
  </div>
  <rz-datalist #datalistErfassung [allowPaging]="false" [count]="rstErfassungCount" [data]="rstErfassung" defaultRowText="Template for index" emptyText="Erfasste Daten werden geladen..." [pageSize]="3" [style]="{'borderTop': '1px dotted #a71330'}" [wrapItems]="false" (loadData)="datalistErfassungLoadData($event)">
    <ng-template let-data datalistTemplate>
      <rz-card #card0 [style]="{'marginBottom': '1px', 'marginTop': '1px', 'paddingBottom': '10px', 'paddingLeft': '15px', 'paddingRight': '5px', 'paddingTop': '10px'}" (click)="onClickErfassungLoeschen(data)">
        <div class="row">
          <div class="col-10" [ngStyle]="{'paddingLeft': '15px', 'paddingRight': '0px', 'verticalAlign': 'baseline'}">
            <div class="row">
              <div class="col-6">
                <rz-heading #heading3 size="H5" [style]="{'color': '#6264A7', 'fontWeight': 'normal', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0', 'textAlign': 'left', 'verticalAlign': 'baseline'}" [text]="data?.ErfasstAm | date:'dd.MM.yyyy HH:mm'">
                </rz-heading>
              </div>
              <div class="col-6">
                <rz-heading #heading0 size="H5" [style]="{'color': '#6264A7', 'fontWeight': 'normal', 'marginBottom': '0', 'marginLeft': '0', 'marginRight': '0', 'marginTop': '0', 'textAlign': 'right', 'verticalAlign': 'baseline'}" text="{{data?.ErfasstAnzahl}} Stück">
                </rz-heading>
              </div>
            </div>
            <rz-label #label0 [style]="{'color': '#a71330', 'fontStyle': 'normal', 'fontWeight': 'normal', 'width': '100%'}" [text]="data?.Artikelnummer">
            </rz-label>
            <rz-label #label11 [style]="{'color': '#3a474d', 'fontSize': '18px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'lineHeight': '20px', 'width': '100%'}" [text]="data?.Beschreibung">
            </rz-label>
            <rz-label #label8 [style]="{'color': '#3a474d', 'fontSize': '16px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'lineHeight': '18px', 'width': '100%'}" [text]="data?.Beschreibung2" *ngIf="data?.Beschreibung2 != null">
            </rz-label>
            <rz-label #label10 [style]="{'color': '#3a474d', 'fontSize': '16px', 'fontStyle': 'normal', 'fontWeight': 'normal', 'lineHeight': '18px', 'width': '100%'}" [text]="data?.StdKreditorName" *ngIf="data?.StdKreditorName != null">
            </rz-label>
          </div>
          <div class="align-items-center d-flex justify-content-end col-2" [ngStyle]="{'paddingRight': '25px', 'textAlign': 'right'}">
            <rz-icon #icon0 icon="clear" [style]="{'color': '#a71330', 'fontSize': '20px', 'fontWeight': 'normal'}">
            </rz-icon>
          </div>
        </div>
      </rz-card>
    </ng-template>
  </rz-datalist>
  <rz-label #label2 [style]="{'backgroundColor': '#e6c54f', 'marginBottom': '10px', 'width': '100%'}" text="Diese Schaltflächen müssen da sein, damit beim Compilieren die Parameter erstellt werden!" *ngIf="false">
  </rz-label>
  <rz-button #buttonOpenDialogErfassungLoeschen text="Unsichtbar: OpenDialogErfassungLoeschen" *ngIf="false" (click)="buttonOpenDialogErfassungLoeschenClick($event)">
  </rz-button>
</rz-content>
