<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Add Inventur Erfassung">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-lookup-form-field [data]="getBenutzersResult" property="BenutzerID" [required]="true" textProperty="AspNetUsers_Id" title="Benutzer" valueProperty="BenutzerID" placeholder="Choose Benutzer" requiredText="is required" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" type="lookup">
        </rz-lookup-form-field>
        <rz-lookup-form-field [data]="getInventurArtikelsResult" property="ArtikelID" [required]="true" textProperty="Artikelnummer" title="Inventur Artikel" valueProperty="ArtikelID" placeholder="Choose InventurArtikel" requiredText="is required" multipleItemsSelectedText="{0} items selected" emptyFilterText="No results found" type="lookup">
        </rz-lookup-form-field>
        <rz-date-form-field property="ErfasstAm" [required]="true" title="Erfasst Am" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-integer-form-field property="ErfasstAnzahl" [required]="true" title="Erfasst Anzahl" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-string-form-field property="Notiz" [required]="false" title="Notiz" [maxLength]="65535" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
