<rz-body #body1 [style]="{'paddingBottom': '0', 'paddingLeft': '0', 'paddingRight': '0', 'paddingTop': '0'}">
  <rz-content-container #main [style]="{'width': '1823px'}" name="main">
  </rz-content-container>
</rz-body>
<rz-header #header0 [style]="{'backgroundColor': 'rgba(0, 0, 0, 0)', 'height': '55px', 'width': '40px'}">
  <rz-label #label0 [style]="{'backgroundColor': '#e6c54f', 'color': '#3a474d', 'fontSize': '10px', 'fontWeight': 'normal'}" text="Header">
  </rz-label>
</rz-header>
<router-outlet></router-outlet>
