<rz-content #content1 container="main">
  <rz-tabs #tabs0 [style]="{'float': 'none'}">
    <rz-tabs-item [selected]="true" text="Gerät">
      <rz-label #label0 [style]="{'width': '100%'}" text="Registriert am 23.11.2021 09:26">
      </rz-label>
      <rz-label #label2 [style]="{'width': '100%'}" text="Gerätenummer: 10">
      </rz-label>
      <rz-label #label3 [style]="{'width': '100%'}" text="Gerätename: Lager Nord">
      </rz-label>
      <rz-label #label5 [style]="{'width': '100%'}" text="Info:">
      </rz-label>
      <rz-label #label1 [style]="{'width': '100%'}" text="Letzte Anmeldung: 23.11.2021 07:35 ">
      </rz-label>
      <rz-label #label4 [style]="{'width': '100%'}" text="Letzte Abmeldung:">
      </rz-label>
      <rz-button #button0 [style]="{'marginTop': '20px', 'width': '100%'}" text="Gerät abmelden">
      </rz-button>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Version">
      <rz-html #html1>
        <div innerHTML='{{htmlVersionen}}'></div>
      </rz-html>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Hilfe">
      <div class="col-md-12">
        <rz-html #html0>
          <div innerHTML='{{htmlHandbuch}}'></div>
        </rz-html>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
