<rz-content #content1 container="main">
  <rz-tabs #tabs0 [style]="{'float': 'none'}">
    <rz-tabs-item [selected]="true" text="Gerät">
      <rz-label #label2 [style]="{'fontWeight': 'bold', 'width': '100%'}" text="Gerät: {{((dsoDevice?.DeviceNummer == null) ? ('Nicht registriert!') : (dsoDevice?.DeviceNummer))}}">
      </rz-label>
      <rz-label #label3 [style]="{'width': '100%'}" text="Titel: ">
      </rz-label>
      <rz-label #label5 [style]="{'width': '100%'}" text="Info: {{dsoDevice?.Info}}">
      </rz-label>
      <rz-label #label0 [style]="{'width': '100%'}" text="Registriert: {{dsoDevice?.RegistriertAm | date:'dd.MM.yyyy HH:mm'}}">
      </rz-label>
      <rz-button #buttonRegistrierungLoeschen [disabled]="dsoDevice?.DeviceID == null" [style]="{'marginTop': '20px', 'width': '100%'}" text="Registrierung löschen" (click)="buttonRegistrierungLoeschenClick($event)">
      </rz-button>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Version">
      <rz-html #html1>
        <div innerHTML='{{htmlVersionen}}'></div>
      </rz-html>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Hilfe">
      <div class="col-md-12">
        <rz-html #html0>
          <div innerHTML='{{htmlHandbuch}}'></div>
        </rz-html>
      </div>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
